In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns
import talib
import warnings
warnings.filterwarnings("ignore")

In [4]:
def getData(stockName,period='120d',interval='1h'):
    return yf.download(tickers=stockName, period=period, interval=interval)

In [5]:
def find_items(items, keyword):
    matching_items = []
    for item in items:
        if keyword in item:
            matching_items.append(item)
    return matching_items

In [85]:
df = getData('XU100.IS').reset_index()

[*********************100%***********************]  1 of 1 completed

In [86]:
df['chg']=df['Close'].pct_change()*100
df['cdl']=((df['Close']-df['Open'])/(df['Close']))*100

In [87]:
df

,Datetime,Open,High,Low,Close,Adj Close,Volume,chg,cdl
0,2023-01-18 09:30:00+03:00,5315.029785,5385.399902,5315.029785,5374.509766,5374.509766,0,NaN,1.106705
1,2023-01-18 10:30:00+03:00,5374.419922,5408.120117,5364.549805,5395.509766,5395.509766,0,0.390733,0.390878
2,2023-01-18 11:30:00+03:00,5395.569824,5413.850098,5391.149902,5413.540039,5413.540039,0,0.334172,0.331949
3,2023-01-18 12:30:00+03:00,5412.660156,5424.229980,5310.729980,5336.529785,5336.529785,0,-1.422549,-1.426589
4,2023-01-18 13:30:00+03:00,5336.350098,5381.089844,5329.790039,5379.049805,5379.049805,0,0.796773,0.793815
...,...,...,...,...,...,...,...,...,...
1020,2023-07-18 12:30:00+03:00,6548.669922,6580.459961,6539.910156,6571.279785,6571.279785,0,0.348476,0.344071
1021,2023-07-18 13:30:00+03:00,6571.359863,6589.080078,6563.959961,6581.759766,6581.759766,0,0.159482,0.158011
1022,2023-07-18 14:30:00+03:00,6580.600098,6613.850098,6577.290039,6596.089844,6596.089844,0,0.217724,0.234832
1023,2023-07-18 15:30:00+03:00,6595.540039,6623.819824,6565.580078,6576.810059,6576.810059,0,-0.292291,-0.284788
1024,2023-07-18 16:30:00+03:00,6577.270020,6577.270020,6424.359863,6437.390137,6437.390137,0,-2.119871,-2.172928

In [25]:
for i in list(range(3,100)):
    df[f'SMA_{i}'] = talib.SMA(df['Close'], timeperiod=i)
    df[f'EMA_{i}'] = talib.EMA(df['Close'], timeperiod=i)
    df[f'KAMA_{i}'] = talib.KAMA(df['Close'], timeperiod=i)

In [ ]:
for i in list(range(5,10)):
    df[f'RSI_{i}'] = talib.RSI(df['Close'], timeperiod=i)

In [26]:
for i in list(range(5,10)):
    df[f'ATR_{i}'] = talib.ATR(df['High'], df['Low'], df['Close'], timeperiod=i)

In [27]:
for i in list(range(5,25)):
    df[f'Momentum_{i}'] = talib.MOM(df['Close'], timeperiod=i)

In [88]:
# Breakout 
for i in [round(x,2) for x in list(np.arange(0.5,2.1,0.1))]:
    df[f'Breakout_{i}']=np.where(np.abs(df['cdl'])>i,1,0)

In [ ]:
# Moving STD