In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
def getData(stockName,period,interval):
    return yf.download(tickers=stockName, period=period, interval=interval)

In [3]:
df=getData('TUR','120m','15m')['Close'].to_frame()

[*********************100%***********************]  1 of 1 completed

In [4]:
df

                         Close
Datetime
2023-06-08 14:00:00  29.809999
2023-06-08 14:15:00  29.860001
2023-06-08 14:30:00  29.910000
2023-06-08 14:45:00  29.889999
2023-06-08 15:00:00  29.969999
2023-06-08 15:15:00  29.980000
2023-06-08 15:30:00  29.930000
2023-06-08 15:45:00  29.959999